<!DOCTYPE html>
<html>
<head>
    <title>Ví dụ về v-for</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div id="app" class="container">
        <div class="col-md-12 text-center">
            <h1>Bảng cửu chương {{ number }}</h1>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <label>Nhập số</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" v-model="number">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" v-for="i in 10">
                {{ i }} x {{ number }} = {{ i * number }}
            </div>
        </div>
    </div>
<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            number: 1,
        }
    })
</script>
</body>